body {
  background-image: linear-gradient(to bottom, #84889e, #043c6b);
  color: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #232229;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
}

.background-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  left: 0;
  background-image: url('img/quiz-time.png');
}

.right {
  right: 0;
  background-image: url('img\guy.png');
  size-adjust: auto;
  size-adjust: auto;
}

.question-container {
  background-color: #193f5e;
  border: 2px solid #032b4c;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: none;
}

label {
  font-size: 20px;
  color: #ffffff;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #814e99;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#result {
  color: #ffffff;
  font-size: 50px;
  margin-top: 20px;
}